<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>我们科技</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<link rel="icon" type="image/x-icon" th:href="@{~/images/favicon.ico}">
<link th:href="@{/css/bootstrap.css}" rel='stylesheet' type='text/css'/>
<link th:href="@{/css/font-awesome.css}" rel="stylesheet"> 
<link rel="stylesheet" th:href="@{/css/slider.css}">
<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />	
<link rel="stylesheet" type="text/css" th:href="@{/css/mislider.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/mislider-skin-cameo.css}"/>
</head>
	<body>
	<div id="" style="position: relative;">
	

	<div class="top_banner" id="topl">
		<!-- SVG Arrows -->
		<div class="svg-wrap">
			<svg width="64" height="64" viewBox="0 0 64 64">
				<path id="arrow-left" d="M46.077 55.738c0.858 0.867 0.858 2.266 0 3.133s-2.243 0.867-3.101 0l-25.056-25.302c-0.858-0.867-0.858-2.269 0-3.133l25.056-25.306c0.858-0.867 2.243-0.867 3.101 0s0.858 2.266 0 3.133l-22.848 23.738 22.848 23.738z" />
			</svg>
			<svg width="64" height="64" viewBox="0 0 64 64">
				<path id="arrow-right" d="M17.919 55.738c-0.858 0.867-0.858 2.266 0 3.133s2.243 0.867 3.101 0l25.056-25.302c0.858-0.867 0.858-2.269 0-3.133l-25.056-25.306c-0.858-0.867-2.243-0.867-3.101 0s-0.858 2.266 0 3.133l22.848 23.738-22.848 23.738z" />
			</svg>
		</div>
		<div class="top_header_agile_info_w3ls">
		  <nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">版权</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="index.html"  th:href="@{/}"><img src="../static/images/logoll.png" th:src="@{~/images/logoll.png}"/></a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
					<h6 class="oh5"> / RegistrationAgreement</h6>
					
<style type="text/css">
.oh5{margin-left: 20px;}
	.m_nav li>a {color: #666; font-weight: 600;}
	.top_header_agile_info_w3ls{border-bottom: 1px solid #ccc;}
	.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{color: #666;}
	
</style>
				

					</nav>
				
		</div>
	
	
		<!--<div class="sleekslider" id="home">
	
			<div class="slide active bg-1">
				
			</div>	
		</div>	-->
		
		
      <!--welcome-->
 </div>
	</div>

<style type="text/css">
	.formd{padding-top: 120px; min-height: 840px;}
	h4{text-align: center;}
	h5{color: #FF414E; margin: 20px 0;}
	h6{margin: 15px 0;}
</style>
<div class="formd">
	

<div class=" container">
	

                                       <h4>Website user registration protocol</h4>
<h5>hot tip</h5>

<p>1、The contents of this agreement include the text of the agreement and the various rules that have been issued or may be issued by all Shanghai's Mdt InfoTech Ltd (hereinafter referred to as "our information"). All rules are integral parts of the agreement and have the same legal effect as the body of the agreement. Unless otherwise specified, all information provided by our information and its affiliates is subject to this agreement.</p>
<p>2、You should read all the contents of the agreement carefully before using our information service. If you have any doubt about the agreement, you should give us information consultation. However, no matter whether you have actually read the content of this Agreement carefully before using our information service or not, the agreement is bound to you as long as you use the service of our information, and you shall not be invalid by not reading the content of this agreement or having not obtained the answer to you by our information. Or request to revoke this agreement.</p>
<p>3、You promise to accept and comply with the agreement of this agreement. If you don't agree with the agreement, you should immediately stop the registration process or stop using our information service.</p>
<p>4、We have the right to make, modify this agreement or all kinds of relevant rules from time to time according to the need, and make a public announcement on the website, and no longer inform you. After the announcement of the website, the changed protocols and rules will come into effect automatically. If you don't agree with the relevant changes, you should stop using our information platform immediately. When you continue to use our information service, you will accept the revised agreement.</p>
<p>We look forward to every opportunity to communicate and communicate with you, all the opinions or suggestions, we guarantee that you will get our reply.</p>

<h6>First General</h6>
<p>1、Our information website is an Internet platform dedicated to all Internet copyright services provided by our information mutual Technology Co., Ltd.</p>
<p>2、Our information website provides users with fast copyright services under the Internet environment. You can achieve copyright protection and transactions quickly through our information website.</p>
<p>3、Our information website user registration protocol (hereinafter referred to as the "agreement") is the online protocol you signed with us for registration and use.</p>
<p>4、This agreement can be updated by our information according to need. You should pay attention to and agree with it in time. The notice, announcement, statement or other rules of our information website belong to part of this agreement.</p>

<h6>Second Account registration and management</h6>
<p>1、When you use the registration process to use our information website service, you should have the capacity of civil conduct as stipulated in the law of People's Republic of China in accordance with the act of registration. If you do not possess the foregoing civil behavior capability that suits the behavior, then you or your guardian should bear all consequences resulting from it in accordance with the law.</p>
<p>2、When you fill in the information, read and agree with the agreement and complete all the registration procedures, you can get the account of our information website and become a user of our information trading platform. When you become a user of our information website, you are bound by this agreement. When you use the special services and products of our information website, you should still agree and accept the related service agreement.</p>
<p>3、Due to the credit information associated with the user's account, the account transfers can be transferred to the account only when it is stipulated by the law, the judicial ruling, or the written consent of our information website, and in accordance with the account transfer process stipulated in the rules of our information website. Otherwise, your account shall not be transferred in any way, and any behavior under your account is considered as your conduct, and all the responsibilities arising therefrom will be borne by yourself.</p>
<p>4、The real name authentication our information website does not require the user to carry out the real name authentication, but in order to make you better use the services and functions of our information website, our information website suggests that you fulfill the real name certification according to the requirements of our information website and the law of our country. All the legal liabilities and consequences caused by your real name authentication will not be borne by our own information website.</p>
<p>5、The username of the account management setting shall not be in violation of the national laws and regulations and the rules of our information on the management of the user. Otherwise, our information website has the right to withdraw or disable your account.</p>
<p>6、You should fill in the information or submit the information (including but not limited to the user's name, contact phone, contact address, email, etc.) according to the requirements of our information website, and should ensure that the information or information filled in is true, complete, accurate and effective. If it is changed, the relevant information or information should be updated in time. . If you do not change the legal consequences and losses caused by the information or information in time, you will be responsible for the damage, including the liability for damage to our information or any third party.</p>
<p>7、The account is safe and your account is set up and kept properly by you. Any loss and consequences caused by your initiative to disclose or suffer from another person's attack or fraud are on your own account. You should be responsible for all the results of the account under its account (including but not limited to the online signing of various agreements, information, copyright authorization, copyright purchase, etc.).</p>

<h6>Third User commitment and assurance</h6>
<p>1、You volunteered to become our information website users and comply with the rules and mechanisms of our information website.</p>
<p>2、You use our information website services, we should comply with the various service specifications of our information website, including but not limited to the "our information website user service agreement", etc.</p>
<p>3、You confirm that you have fully understood and understood the risks described in our information fully and accurately, and have voluntarily assumed the losses that may be caused by the above risks.</p>
<p>4、You have confirmed that you have read and voluntarily abide by the laws and regulations of the copyright trading of our country, the rules and regulations of various departments and the relevant rules of our information Internet Technology Co., Ltd., and accept our information on the revision of our information website related business rules and the revision of our information on the official website of our information website. I know you.</p>
<p>5、You guarantee the full responsibility for the content provided, and do not deal with one of the following contents on our information website. We have the right to deal with the information website and notify in the form of the station letter and mail within 5 days.</p>
<p>(1)Violating the basic principles established by the Constitution；</p>
<p>(2)It endangers national security, divulge state secrets, subvert state power and undermine national unity；</p>
<p>(3)Jeopardize national honor and interests；</p>
<p>(4)Inciting national hatred, national discrimination and national unity；</p>
<p>(5)Destroy the state's religious policy and publicize heresy and feudal superstition；</p>
<p>(6)Spreading rumors, disturbing social order and destroying social stability；</p>
<p>(7)Spreading obscenity, pornography, gambling, violence, terror or instigation of crime；</p>
<p>(8)Insulting or slander others, infringing upon others' legitimate rights and interests；</p>
<p>(9)Inciting illegal gatherings, association, parades, demonstrations, and mobs to disturb social order；</p>
<p>(10)In the name of illegal civil organizations；</p>
<p>(11)Other contents prohibited by laws and administrative regulations。</p>
<p>6、You should ensure that all the works of copyright authorization through our information website enjoy complete intellectual property rights, or have been legally authorized by the relevant rights holders. In violation of the provisions of this article, the third party disputes, claims, compensation and litigation are responsible for your own responsibility and have nothing to do with our information website. As a result of the violation of this article, the third direction of our information website claims, you should compensate for all the loss of our information website (including but not limited to damages, litigation agency fees and other relevant reasonable expenses).</p>
<p>7、When third parties think that the works authorized by you are violating their rights, and in accordance with the regulations on the protection of the right of communication of information network or the relevant laws and regulations to send the notice to this website or our information, you agree that our information website can judge the decision to delete the infringement of the suspect, unless you submit a written certificate. The possibility of infringement is excluded according to the material, otherwise, the deleted contents will not be automatically restored.</p>
<p>8、You make sure that we do not violate the following rules when we use web services on our information web site, otherwise our information website has the right to ask you to correct or directly take all necessary and effective measures (including not only to delete and upload and provide authorized works and information, to suspend or terminate the right to use network services) to mitigate your misconduct Impact:</p>
<p>（1）Abide by the relevant laws and regulations of China；</p>
<p>（2）Comply with all network protocols, rules and procedures related to network services；</p>
<p>（3）No false information or information may be provided；</p>
<p>（4）We shall not use any network service system of our information website for any illegal purpose；</p>
<p>（5）We must not take advantage of our information website to do anything harmful to the normal operation of the Internet；</p>
<p>（6）We must not take advantage of our information website to do anything against the trading platform；</p>
<p>（7）We should not use our information website to seriously damage the legal rights and interests of our information internet technology limited company, influence the normal operation order of our information, and influence the normal order of the market；</p>
<p>9、You will ensure that all the rights obtained through our information website will be exercised in accordance with the laws and regulations of our country and the rules of the trading platform, and all the consequences caused by your improper use will be borne by you.</p>
<p>10、You guarantee that the sources of funds involved in copyright trading on our information website are legitimate, otherwise all legal consequences and responsibilities arising from it will be borne by you.</p>
<p>11、You should ensure the safety and reliability of the devices used for transactions. Due to your equipment failure, communication failure and other reasons, the legal consequences and economic losses will be borne by you.</p>
<p>12、You agree and authorize our information website to transfer the transaction price between your trading account and other transaction accounts in accordance with the transaction information, and agree to include but not be limited to transaction fees, storage fees and other procedures according to the relevant regulations of our information website.</p>
<p>13、You promise that you will keep account of transaction, transaction password and related confidential documents properly. If you lose the information, you will bear the corresponding responsibility.</p>

<h6>Fourth Disclaimer</h6>
<p>1、In view of the fact that our information website provides an open platform for Internet copyright transactions only for users, it does not participate in the actual transactions between users. The documents, pictures, video, audio and other content files accumulated or traded on the website are all from users. We do not edit or modify the documents, pictures, videos, sounds and sounds of our information websites. Frequency and other content files. In the case of authorised transaction, which leads to disputes with one or more other users in the scope of intellectual property and other rights, including copyright, or disputes with other rights holders, you should compensate for the claims, claims and damages arising from or possibly arising from the above disputes and exempt us from the responsibility of our information.</p>
<p>2、All the linked websites of our information website are independent operating websites, interaction and transaction with each user, independent of our information website, and our information is exempt from all the consequences resulting from it.</p>
<p>3、The exemption from liability in other provisions of this agreement.

<h6>Fifth Intellectual property terms</h6>
<p>1、The copyright of the material, sorting, arranging, typesetting, compilation, and writing, pictures and other works made by the website, whether or not it is clear, belong to the right person and all of us. No natural person, legal person or other organization, without the authorization or permission of our information, shall not modify, publish, propagate, participate in the dissemination, sale, production of derivative works, or use the content on the whole or part of the website in any other way, including but not limited to the company's information and information, the website will retain the investigation. The right to legal liability. No authorized person can use any trademark, service mark, logo, domain name and other notable brand characteristics without our information authorization.</p>
<p>2、All contents of our information and website are protected by the copyright law of the People's Republic of China and the Trademark Law of the People's Republic of China. The information issued by the user may not infringe on any other's intellectual property rights. Without the prior written consent of the person concerned, the user may not upload, publish, modify, propagate or copy any material, trademark or proprietary information that is protected by copyright in any way.</p>

<h6>Sixth Termination of the agreement</h6>
<p>1、We have the right to decide to terminate the use of your account or service according to our own consideration. The reasons for termination include, but not limited to, unused for a long time, violation of this Agreement and other rules of our information website.</p>
<p>2、After termination of service, we have the right to remove and delete anything you want in our information website. Our information does not bear any responsibility for terminating your account and related information and documents being closed or deleted.</p>

<h6>Seventh notice</h6>
<p>You agree that the notification sent by our information website in the following reasonable ways is considered a successful service notification.：</p>
<p>（一）Publicized copywriting；</p>
<p>（二）News from a web site (a station letter, etc.)；</p>
<p>（三）According to the e-mail, SMS, letters sent by the way you want to contact the trading platform.</p>

<h6>Eighth The application, jurisdiction and other laws of the law</h6>
<p>1、The establishment, entry into force, interpretation, revision, supplement, termination, execution and dispute settlement of this Agreement apply to the law of the mainland of People's Republic of China; if no relevant provisions of the law, reference to commercial practice and / or industry practice；</p>
<p>2、As a result of the use of our information website service and the disputes related to our information website service, you will consult with our information internet technology limited company. If negotiation fails, any party can bring a lawsuit against the people's court where our information Internet Technology Co., Ltd. is located.</p>



	
</div>

</div>


<div style="clear: both;">
	
</div>
<!-- footer -->


	<div class="footer" >

    <div class="agileinfo_footer_bottom1" th:replace="footer_en::footer">
	</div>
		

<!-- //footer -->
<!-- JavaScripts -->
<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sleekslider.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<!-- //for bootstrap working -->
</body>
</html>